header{
    background:#3b5998 ;
    color: white;
    width:100%;
    height: 90px;
     display: flex;
    /*align-items: center; */
}
.logo-text{
    color:white;
    text-decoration:none;
    font-size: 40px;
    font-weight: bold;
    margin-left: 135px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22px;
}
body{
    margin: 0px;
}
.logo{
    width: 50%;
    /* padding-top: 25px; */
    display: flex;
    align-items: center;
}
.login{
    width:50%;
    display: flex;
    /* background: aqua; */
    padding-top: 14px;
    padding-left: 194px;
    margin-left: 282px;
}
.log-inpt{
    align-self: start;
}
.col {
    flex: 1 1 auto;
  }
  .line-break {
     /* flex-basis: 10%;  */
    width: 10px; 
    /* height: 0px; */
    overflow: hidden;
  }
  .forgaccnt{
    color:white;
    text-decoration:none;
  }
  .loginButtn{
    background-color:#1d418e ;
    color: white;
    border-color: #1d418e;
    margin-top: 18px;
    margin-left: 14px;
  }
  .loginButtn:hover{
    cursor: pointer;
    background-color: #4a5f8d;
    border-color: #4a5f8d;
  }
  .loginform{
    /* width:50%;
    /* background: aqua; */
   /* padding-top: 14px;
    padding-left: 194px; */
    display: flex;
  }
  main{
    font-family: sans-serif;
    width: 100%;
    height: 600px;
    display: flex;
    background: linear-gradient(white,#dedede);
    /* background-color: linear-gradient(white, #d3d8e8);
    margin-top: -16px; */
  }
  main input{
    margin-top: 10px;
    height: 2em;
  }
  .main-sec-left{
   /* background-color: red;
    height:35em;*/
    width:50%;
    padding-left: 134px;
  }
  .main-sec-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-left: 170px;
  }
  .main-img{
    width:560px;
    /* height:355px; */
  }
  .main-para{
    font-weight: bold;
    font-size: 21px;
  }
  .input-width{
    width: 22em;
  }
  .birthday{
    color:rgb(109, 108, 108);
    font-weight: bold;
  }
  .policy{
    text-decoration: none;
  }
  .policy-para{
    font-size: 13px;
  }
  .btn-signUp{
    background: green;
    color:white;
    font-size: 1rem;
    border-radius: 6px;
    padding: 0 40px;
    line-height:2;
    text-shadow: 1px 1px 1px #000;
  }
  .btn-signUp:hover{
    cursor: pointer;
   background-color: rgb(26, 168, 26);
    border-color: rgb(26, 168, 26); 
  }
 
  